<% include ./partials/header.ejs %>

<div id="backgroundEditProfile">
    <div class="page header">
        <h1 class="text-center">Edit my information</h1>
    </div>
    <div class="container">
        <%
        var details = [];

        if (success.length > 0) {%>
        <div class="container">
            <div class="alert alert-success" role="alert">
                <strong><%= success %></strong>
                <%  if (info.length > 0){
                    details = info.toString().split("/"); %>
                <ul>
                    <%  details.forEach(function (message) {
                    if(message != ""){%>
                    <li><%= message %></li>
                    <%}
                    })%>
                </ul>
                <% }%>
            </div>
        </div>
        <% }

        if (error.length > 0) {%>
        <div class="container">
            <div class="alert alert-danger">
                <strong><%= error %></strong>
                <%  if (info.length > 0){
                    details = info.toString().split("/"); %>
                <ul>
                    <% details.forEach(function (message) { %>
                    <li> <%= message %></li>
                    <%
                    })%>
                </ul>
                <% }%>
            </div>
        </div>
        <% }%>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 forms">
                <div class="text-center">Update your profile pic ?</div>
                <form action="/users/change_pic" method="POST" enctype="multipart/form-data">
                    <input type="file" name="displayImage">
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 forms">
                <div class="text-center">Your current email address is <%= user.email %></div>
                <form action="/users/change_email" method="POST">
                    <div class="form-group">
                        <label class="yellow">New email address</label>
                        <input class="form-control" type="email" name="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label class="yellow">Password</label>
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 forms">
                <form action="/users/change_password" method="POST">
                    <div class="form-group">
                        <label class="yellow">Current password</label>
                        <input class="form-control" type="password" name="current_password" placeholder="Current password">
                    </div>
                    <div class="form-group">
                        <label class="yellow">New password</label>
                        <input class="form-control" type="password" name="new_password" placeholder="New password">
                    </div>
                    <div class="form-group">
                        <label class="yellow">Confirm password</label>
                        <input class="form-control" type="password" name="confirm_password" placeholder="Confirm password">
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 forms">
                <form action="/users/change_about" method="POST">
                    <div class="form-group">
                        <label class="yellow">About</label>
                        <textarea class="form-control" type="text" name="about"><%= user.about %></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>