<% include ./partials/header.ejs %>

<div id="backgroundLibrary">
    <div class="page header">
        <h1 class="text-center">Library</h1>
    </div>

    <% if (error.length > 0) {%>
    <div class="container">
        <div class="alert alert-danger">
            <strong><%= error %></strong>
            <%  if (info.length > 0){
                var details = info.toString().split("/"); %>
            <ul>
                <%  details.forEach(function (message) {
                if (message != ""){%>
                <li><%= message %></li>
                <%      }
                })%>
            </ul>
            <% }%>
        </div>
    </div>
    <% }%>

    <div class="col-md-1"></div>
    <%  if (!session.search){%>
        <div class="col-md-1 filter_container aside">
            <ul class="nav nav-pills nav-stacked">
                <%  genres.forEach(function (genre) { %>
                        <li><a href="/library/genre=<%= genre.id%>"><%= genre.name %></a></li>
                <%  }) %>
            </ul>
        </div>
    <%  } %>
    <div class="col-md-9">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="border: red solid 1px;">
                    <p>Advanced Research</p>
                    <form action="/library/search" method="POST">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Genres :</label>
                                <select class="form-control" name="genres">
                                    <option value="none">-</option>
                                    <%  genres.forEach(function (genre) { %>
                                            <option value="<%= genre.id %>"><%= genre.name %></option>
                                    <%  })%>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Year :</label>
                                <select class="form-control" name="years">
                                    <option value="none">-</option>
                                    <%  var currentYear = new Date().getFullYear();
                                        for(var i = currentYear; i >= 1900; i--){ %>
                                            <option value="<%= i %>"><%= i %></option>
                                    <%  }%>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Sort By :</label>
                                <select class="form-control" name="sortBy">
                                    <option value="none">-</option>
                                    <option value="popularity.desc">Popularity Descending</option>
                                    <option value="popularity.asc">Popularity Ascending</option>
                                    <option value="vote_average.desc">Rating Descending</option>
                                    <option value="vote_average.asc">Rating Ascending</option>
                                    <option value="release_date.desc">Release Date Descending</option>
                                    <option value="release_date.asc">Release Date Ascending</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Casting</label>
                                <input class="form-control" type="text" name="people" placeholder="Search by an actor or actress">
                            </div>
                            <div class="col-md-2">
                                <label>Min rating</label>
                                <input class="form-control" type="number" name="rate" min="0" max="10">
                            </div>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                    <hr>
                    <form action="/library/search" method="POST">
                        <label>Research by keywords</label>
                        <input class="form-control search" type="text" name="keywords" placeholder="Keywords">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <h4 class="well"><a href="/library">Movies</a> | <a href="/library/tvShow">Tv Shows</a></h4>
                    <div class="col-md-12">
                        <% movies.forEach(function (movie) { %>
                        <div class="item">
                            <div class="col-md-5">
                                <img class="miniatures" src="http://image.tmdb.org/t/p/w185<%= movie.poster_path %>">
                            </div>
                            <div class="col-md-7" style="height: 300px;">
                                <%  if (session.videoType == "movie") {%>
                                        <a href="/streaming/<%= movie.id %>"><h4 class="text-center"><%= movie.original_title %></h4></a>
                                        <p><strong>Release in: </strong><%= movie.release_date.split("-")[0]%></p>
                                <%  }
                                    else { %>
                                        <a href="/streaming/<%= movie.id %>"><h4 class="text-center"><%= movie.original_name %></h4></a>
                                        <p><strong>Original Release: </strong><%= movie.first_air_date.split("-")[0]%></p>
                                <%  }%>
                                <p><strong>Rating: </strong><%= movie.vote_average%></p>
                                <p class="hideOverflow"><%= movie.overview %></p>
                            </div>
                        </div>
                        <% })%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>