<% include ./partials/header.ejs %>

<div id="backgroundLibrary">
    <div class="page header">
        <h1 class="text-center">Library</h1>
    </div>

    <% if (error.length > 0) {%>
    <div class="container">
        <div class="alert alert-danger">
            <strong><%= error %></strong>
            <%  if (info.length > 0){
                var details = info.toString().split("/"); %>
            <ul>
                <%  details.forEach(function (message) {
                if (message != ""){%>
                <li><%= message %></li>
                <%      }
                })%>
            </ul>
            <% }%>
        </div>
    </div>
    <% }%>

    <div class="col-md-1"></div>
    <div class="col-md-1 filter_container" style="border: green solid 1px;">
        <ul class="nav nav-pills nav-stacked">
            <%  genres.forEach(function (genre) { %>
                    <li><a href="/library/<%= genre.id%>"><%= genre.name %></a></li>
            <%  }) %>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="container">
            <form class="input-group">
                <a class="input-group-addon" href="#"><i class="glyphicon glyphicon-search"></i></a>
                <input class="form-control search" type="text" placeholder="Research">
            </form>
            <div class="container library_container">
                <div class="row">
                    <h4 class="well">Currently most popular video</h4>
                    <div class="col-md-12">
                        <% movies.forEach(function (movie) { %>
                        <div class="item">
                            <div class="col-md-5">
                                <img class="img-fluid" src="http://image.tmdb.org/t/p/w185<%= movie.poster_path %>">
                            </div>
                            <div class="col-md-7" style="height: 300px;">
                                <h4 class="text-center"><%= movie.original_title %></h4>
                                <p><strong>Release in: </strong><%= movie.release_date.split("-")[0]%></p>
                                <p><strong>Rating: </strong><%= movie.vote_average%></p>
                                <p class="hideOverflow"><%= movie.overview %></p>
                            </div>
                        </div>
                        <% })%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>