<% include ./partials/header.ejs %>

<div id="backgroundProfile">
    <div class="page header">
        <h1 class="text-center">Profile</h1>
    </div>
    <div class="container">
        <%
        var details = [];

        if (success.length > 0) {%>
        <div class="container">
            <div class="alert alert-success" role="alert">
                <strong><%= success %></strong>
                <%  if (info.length > 0){
                    details = info.toString().split("/"); %>
                <ul>
                    <%  details.forEach(function (message) {
                    if(message != ""){%>
                    <li><%= message %></li>
                    <%}
                    })%>
                </ul>
                <% }%>
            </div>
        </div>
        <% } %>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="text-center backgroundProfile">
                    <img id="profilePic" class="img-rounded" src="<%= user.picture %>">
                    <h2>
                        <%= user.firstName + " " + user.lastName %>
                        <% if (user._id.toString() === currentUser._id.toString()) { %>
                            <a href="/users/<%= currentUser._id.toString()%>/edit_profile"><i class="glyphicon glyphicon-edit"></i></a>
                        <% }%>
                    </h2>
                </div>
                <div>
                    <h4 class="well">About</h4>
                    <p><%= user.about %></p>
                </div>
                <div>
                    <h4 class="well">Favorite Movies</h4>
                    <ul>
                        <% user.favoriteMovies.forEach(function (movie) { %>
                        <li><%= movie %></li>
                        <% });%>
                    </ul>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>
